.filters {
    position: relative;
    z-index: 102;
    margin-top: 68px;

    .divider {
        height: 1px;
        background-color: $text;
        margin: 2rem 0;
    }

    &-selected {
        &-meta {
            font-size: 1.2rem;
            text-transform: uppercase;
            margin-bottom: 1.7rem;
            span {
                float: left;
            }
            a {
                float: right;
                color: $text;
                text-decoration: none;
                border-bottom: 1px solid $text;
                &:hover {
                    color: #000;
                    border-bottom-color: #000;
                }
            }
        }
        ul {
            @include clearlist;
            li {
                background-color: $gray2;
                padding: .5rem .8rem;
                border: 1px solid $text;
                font-size: 1.4rem;
                margin-top: 1rem;
                position: relative;
                &:first-child {
                    margin-top: 0;
                }
                span {
                    &.filters-selected-fieldname {
                        text-transform: uppercase;
                    }
                    &.filters-selected-fieldvalue {
                        color: #000;
                    }
                    &.filters-selected-remove {
                        width: 16px;
                        height: 16px;
                        background: center no-repeat url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiCgkgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeG1sbnM6YT0iaHR0cDovL25zLmFkb2JlLmNvbS9BZG9iZVNWR1ZpZXdlckV4dGVuc2lvbnMvMy4wLyIKCSB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjE1LjZweCIgaGVpZ2h0PSIxNS42cHgiIHZpZXdCb3g9IjAgMCAxNS42IDE1LjYiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDE1LjYgMTUuNjsiCgkgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6Izg3ODc4Nzt9Cjwvc3R5bGU+CjxkZWZzPgo8L2RlZnM+CjxnPgoJPHJlY3QgeD0iLTIuMiIgeT0iNi44IiB0cmFuc2Zvcm09Im1hdHJpeCgwLjcwNzEgMC43MDcxIC0wLjcwNzEgMC43MDcxIDcuNzc4MiAtMy4yMjE4KSIgY2xhc3M9InN0MCIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIiLz4KCTxyZWN0IHg9Ii0yLjIiIHk9IjYuOCIgdHJhbnNmb3JtPSJtYXRyaXgoLTAuNzA3MSAwLjcwNzEgLTAuNzA3MSAtMC43MDcxIDE4Ljc3ODIgNy43NzgyKSIgY2xhc3M9InN0MCIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIiLz4KPC9nPgo8L3N2Zz4K) ;
                        position: absolute;
                        top: 50%;
                        right: .8rem;
                        cursor: pointer;
                        margin-top: -8px;
                        &:hover {
                            background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiCgkgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeG1sbnM6YT0iaHR0cDovL25zLmFkb2JlLmNvbS9BZG9iZVNWR1ZpZXdlckV4dGVuc2lvbnMvMy4wLyIKCSB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjE1LjZweCIgaGVpZ2h0PSIxNS42cHgiIHZpZXdCb3g9IjAgMCAxNS42IDE1LjYiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDE1LjYgMTUuNjsiCgkgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxkZWZzPgo8L2RlZnM+CjxnPgoJPHJlY3QgeD0iLTIuMiIgeT0iNi44IiB0cmFuc2Zvcm09Im1hdHJpeCgwLjcwNzEgMC43MDcxIC0wLjcwNzEgMC43MDcxIDcuNzc4MiAtMy4yMjE4KSIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIiLz4KCTxyZWN0IHg9Ii0yLjIiIHk9IjYuOCIgdHJhbnNmb3JtPSJtYXRyaXgoLTAuNzA3MSAwLjcwNzEgLTAuNzA3MSAtMC43MDcxIDE4Ljc3ODIgNy43NzgyKSIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIiLz4KPC9nPgo8L3N2Zz4K);
                        }
                    }
                }
            }
        }
        &-apply {
            display: none;
        }
    }

    .filter {
        margin-bottom: 1rem;
        &-close {
            display: none;
        }
        &-lock {
            display: block;
            padding: .5rem .8rem;
            border: 1px solid $text;
            font-size: 1.4rem;
            position: relative;
            color: $text;
            text-decoration: none;
            text-transform: uppercase;
            &:after {
                content: '';
                width: 16px;
                height: 16px;
                background: right center no-repeat url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiCgkgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeG1sbnM6YT0iaHR0cDovL25zLmFkb2JlLmNvbS9BZG9iZVNWR1ZpZXdlckV4dGVuc2lvbnMvMy4wLyIKCSB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjkuMnB4IiBoZWlnaHQ9IjE1LjZweCIgdmlld0JveD0iMCAwIDkuMiAxNS42IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA5LjIgMTUuNjsiCgkgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6Izg3ODc4Nzt9Cjwvc3R5bGU+CjxkZWZzPgo8L2RlZnM+CjxnPgoJPHBvbHlnb24gY2xhc3M9InN0MCIgcG9pbnRzPSIwLDEuNCA2LjQsNy44IDAsMTQuMSAxLjQsMTUuNiA3LjgsOS4yIDkuMiw3LjggNy44LDYuNCAxLjQsMCAJIi8+CjwvZz4KPC9zdmc+Cg==);
                position: absolute;
                top: 50%;
                right: .8rem;
                margin-top: -8px;
                -webkit-transition: background .25s ease;
                -moz-transition: background .25s ease;
                -ms-transition: background .25s ease;
                -o-transition: background .25s ease;
                transition: background .25s ease;
            }
            &:hover {
                &:after {
                    background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiCgkgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeG1sbnM6YT0iaHR0cDovL25zLmFkb2JlLmNvbS9BZG9iZVNWR1ZpZXdlckV4dGVuc2lvbnMvMy4wLyIKCSB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjkuMnB4IiBoZWlnaHQ9IjE1LjZweCIgdmlld0JveD0iMCAwIDkuMiAxNS42IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA5LjIgMTUuNjsiCgkgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6IzAxMDIwMjt9Cjwvc3R5bGU+CjxkZWZzPgo8L2RlZnM+CjxnPgoJPHBvbHlnb24gY2xhc3M9InN0MCIgcG9pbnRzPSIwLDEuNCA2LjQsNy44IDAsMTQuMSAxLjQsMTUuNiA3LjgsOS4yIDkuMiw3LjggNy44LDYuNCAxLjQsMCAJIi8+CjwvZz4KPC9zdmc+Cg==);
                }
            }
        }

        &.open {
            .filter-box {
                max-height: 300px;
            }
            .filter-lock:after {
                background-position: center;
                transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
            }
        }

        &.filter-category.open ul {
            max-height: 1000px;
        }

        .filter-box {
            max-height: 0;
            overflow: hidden;
            -webkit-transition: all .25s ease;
            -moz-transition: all .25s ease;
            -ms-transition: all .25s ease;
            -o-transition: all .25s ease;
            transition: all .25s ease;
            ul {
                @include clearlist;
                li {
                    padding: 0 .8rem;
                    font-size: 1.4rem;
                    margin: .5rem 0;
                    &:hover {
                        color: #000;
                        .jq-checkbox {
                            border-color: #000;
                        }
                    }
                }
            }
        }

        &-button {
            a {
                display: block;
                padding: .5rem .8rem;
                border: 1px solid $text;
                font-size: 1.4rem;
                color: $text;
                text-decoration: none;
                text-transform: uppercase;
                &:hover {
                    background-color: $gray2;
                }
            }
        }

        &-color {
            .filter-box {
                padding: 0 .8rem;
                li {
                    display: inline-block;
                    padding: 0 .2rem;
                    .jq-checkbox {
                        width: 20px;
                        height: 20px;
                    }
                    .checked {
                        border: 3px solid $text;
                        .jq-checkbox__div {
                            background-color: transparent;
                        }
                    }
                }
            }
        }

        &-price {
            &-fields {
                padding: .8rem .8rem 0;
                & > .row {
                    & .col-xs-12:nth-child(2) {
                        text-align: right;
                    }
                }
                label {
                    font-size: 1.4rem;
                }
                input {
                    width: 65%;
                    text-align: right;
                }
            }
        }
    }

    @include respond-to(tablet-portrait) {
        display: block;
        position: absolute;
        width: $filters_width;
        transition: all .5s cubic-bezier(.645,.045,.355,1);
        background: #000000;
        top: 128px;
        left: 0;
        overflow: hidden !important;
        z-index: 9999;
        margin-top: 0 !important;
        -webkit-transform: translate3d(-$filters_width,0,0);
        transform: translate3d(-$filters_width,0,0);
        color: #fff;
        &.open {
            transition: all .5s cubic-bezier(.645,.045,.355,1);
            -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
        }

        &-selected {
            background-color: #212121;
            &-meta{
                height: 42px;
                line-height: 42px;
                padding: 0 1.5rem;
                font-size: 1.6rem;
                text-transform: uppercase;
                color: #fff;
                margin-bottom: 0;
                border-bottom: 1px solid $text;
                a {
                    font-size: 1.2rem;
                    line-height: normal;
                    margin-top: 12px;
                }
            }
            ul {
                li {
                    height: 42px;
                    padding: 1rem 1.5rem;
                    background-color: #212121;
                    margin-top: 0;
                    border: none;
                    border-bottom: 1px solid $text;
                    span {
                        color: #fff !important;
                        &.filters-selected-fieldname {
                            font-size: 1.6rem;
                        }
                        &.filters-selected-fieldvalue {
                            font-size: 1.2rem;
                        }
                        &.filters-selected-remove {
                            right: 1.5rem;
                        }
                    }
                }
            }
            &-apply {
                display: block;
                padding:  1.5rem .8rem;
                button {
                    display: block;
                    width: 100%;
                    border: 1px solid $text;
                    background-color: transparent;
                    font-size: 1.6rem;
                    text-transform: uppercase;
                    text-align: center;
                    padding: 1rem 0;
                    &:active {
                        background-color: $text;
                    }
                }
            }
        }

        .divider {
            display: none;
        }

        .filter {
            margin-bottom: 0;
            &-close {
                display: block;
                width: 16px;
                height: 16px;
                background: center no-repeat url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiCgkgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeG1sbnM6YT0iaHR0cDovL25zLmFkb2JlLmNvbS9BZG9iZVNWR1ZpZXdlckV4dGVuc2lvbnMvMy4wLyIKCSB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjE1LjZweCIgaGVpZ2h0PSIxNS42cHgiIHZpZXdCb3g9IjAgMCAxNS42IDE1LjYiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDE1LjYgMTUuNjsiCgkgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6Izg3ODc4Nzt9Cjwvc3R5bGU+CjxkZWZzPgo8L2RlZnM+CjxnPgoJPHJlY3QgeD0iLTIuMiIgeT0iNi44IiB0cmFuc2Zvcm09Im1hdHJpeCgwLjcwNzEgMC43MDcxIC0wLjcwNzEgMC43MDcxIDcuNzc4MiAtMy4yMjE4KSIgY2xhc3M9InN0MCIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIiLz4KCTxyZWN0IHg9Ii0yLjIiIHk9IjYuOCIgdHJhbnNmb3JtPSJtYXRyaXgoLTAuNzA3MSAwLjcwNzEgLTAuNzA3MSAtMC43MDcxIDE4Ljc3ODIgNy43NzgyKSIgY2xhc3M9InN0MCIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIiLz4KPC9nPgo8L3N2Zz4K);
                position: absolute;
                bottom: 1.5rem;
                right: 0;
                cursor: pointer;
            }
            &.open {
                .filter-lock {
                    border-bottom: 1px solid $text;
                }
            }
            .filter-lock {
                font-size: 1.6rem;
                color: #fff;
                text-align: center;
                padding: 1rem 1.5rem;
                border: none;
                border-top: 1px solid $text;
                &:after {
                    right: 1.5rem;
                    top: 50%;
                    margin-top: -8px;
                }
                &:hover:after {
                    background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiCgkgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeG1sbnM6YT0iaHR0cDovL25zLmFkb2JlLmNvbS9BZG9iZVNWR1ZpZXdlckV4dGVuc2lvbnMvMy4wLyIKCSB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjkuMnB4IiBoZWlnaHQ9IjE1LjZweCIgdmlld0JveD0iMCAwIDkuMiAxNS42IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA5LjIgMTUuNjsiCgkgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6Izg3ODc4Nzt9Cjwvc3R5bGU+CjxkZWZzPgo8L2RlZnM+CjxnPgoJPHBvbHlnb24gY2xhc3M9InN0MCIgcG9pbnRzPSIwLDEuNCA2LjQsNy44IDAsMTQuMSAxLjQsMTUuNiA3LjgsOS4yIDkuMiw3LjggNy44LDYuNCAxLjQsMCAJIi8+CjwvZz4KPC9zdmc+Cg==);
                }
            }
            .filter-box {
                padding: 0 1.5rem;
                &-wrapper {
                    padding: 1rem 0 4rem;
                    position: relative;
                }
                ul {
                    li {
                        padding: 0;
                        margin: 1rem 0;
                        &:hover {
                            color: #fff !important;
                            .jq-checkbox {
                                border-color: $text;
                            }
                        }
                        .jq-checkbox {
                            background-color: transparent;
                        }
                    }
                }
            }

            &-color {
                .filter-box li .jq-checkbox {
                    width: 32px;
                    height: 32px;
                    margin: 0 1rem 0 0;
                    &.checked {
                        border-color: #fff;
                    }
                }
            }

            &-price {
                &-fields {
                    input {
                        background-color: transparent;
                        border: 1px solid $text;
                        padding: 0 .5rem;
                    }
                }
                .irs-line-mid, .irs-line-left, .irs-line-right, .irs-bar, .irs-bar-edge, .irs-slider {
                    background-color: #000;
                }
                .irs-bar {
                    background-color: #fff;
                }
            }

            &-button {
                a {
                    font-size: 1.6rem;
                    color: #fff;
                    text-align: center;
                    padding: 1rem 1.5rem;
                    border: none;
                    border-top: 1px solid $text;
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }
}
