.loop {
    position: relative;
    & > .row {
        display: flex;
        flex-wrap: wrap;
        & > div {
            float: none;
            @include respond-to(tablet-portrait) {
                width: 25%;
            }
            @include respond-to(mobile-landscape) {
                width: 33.33%;
            }
            @include respond-to(mobile-portrait) {
                width: 50%;
            }
        }
        &:before, &:after {
            content: none;
        }
    }
    .item {
        margin-bottom: 2rem;
        text-align: center;
        a {
            color: $gray;
            text-decoration: none;
        }
        @include respond-to(tablet-landscape) {
            display: inline-block;
            vertical-align: top;
            margin: 0 0 2rem;
        }
        @include respond-to(mobile-portrait) {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        &-thumb {
            position: relative;
            display: block;
            outline: 1px solid transparent;
            outline-offset: -1px;
            &:after {
                content: '';
                display: block;
                padding-bottom: 149.74%;
            }
            &-content {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                width: 100%;
                height: 100%;
            }
            img {
                max-width: 100%;
                height: auto;
                &:nth-child(2) {
                    display: none;
                }
            }
            &-wrapper {
                position: relative;
                &:hover {
                    .quickview {
                        visibility: visible;
                    }
                    img {
                        &:nth-child(1) {
                            display: none;
                        }
                        &:nth-child(2) {
                            display: block;
                        }
                    }
                }
                &.noswap:hover {
                    img:nth-child(1) {
                        display: block;
                    }
                }
            }
        }
        &-bottom {
            font-size: 1.2rem;
            span {
                display: block;
                margin-top: 5px;
            }
            .price {
                color: #000;
                .price-old {
                    height: 20px;
                    font-size: 1rem;
                    line-height: 20px;
                    color: $text;
                    position: relative;
                    .discount {
                        position: absolute;
                        right: -45px;
                        bottom: 0;
                    }
                }
            }
            @include respond-to(mobile-landscape) {
                font-size: 1.6rem;
                .price .price-old {
                    font-size: 1.4rem;
                }
            }
        }
    }
}
