.sidebar {
    .widget {
        margin-bottom: 2rem;
    }

    .news-all {
        a {
            font-size: 1.4rem;
            color: $text;
            text-decoration: none;
            border-bottom: 1px solid $text;
            &:hover {
                color: #000;
                border-color: #000;
            }
        }
    }
}

.news .sidebar {
    @include respond-to(screen) {
        margin-top: 97px;
    }
}
