.color-01 {
    background-color: #fff !important;
}
.color-02 {
    background-color: #A2B5D6 !important;
}
.color-03 {
    background-color: #E3F2DA !important;
}
.color-04 {
    background-color: #FFF2A6 !important;
}
