.popup-wrapper {
    padding: 3rem;
    .thanks {
        display: none;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
        background-color: $green;
        color: #fff;
        text-align: center;
        .title {
            font: 2rem 'Molot';
            text-align: center;
        }
        p {
            width: 245px;
            margin: 3rem auto 0;
            font-size: 1.2rem;
        }
    }
    &.done {
        .thanks {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
    }
}

.sizes {
    width: 360px;
    max-width: 100%;
    font-size: 1.2rem;
    padding-bottom: 5rem;
    table {
        width: 100%;
        thead {
            border-bottom: 1px solid #a5a5a5;
        }
        th {
            font-weight: normal;
            padding: 0 0 10px;
            text-align: left;
        }
        td {
            padding: 5px 0;
        }
        tbody {
            tr:first-child td {
                padding-top: 10px;
            }
        }
    }
}

.qv {
    width: 760px;
    max-width: 100%;
    min-height: 484px;
    &-gallery {
        &-wrapper {
            padding-left: 58px;
            position: relative;
            img {
                max-width: 100%;
                height: auto;
            }
        }
        &-pager {
            width: 48px;
            position: absolute;
            top: 0;
            left: 0;
            img {
                max-width: 100%;
                height: auto;
            }
            a {
                display: inline-block;
                margin-bottom: 1rem;
                opacity: .3;
                @include effect-fade();
                &.cycle-pager-active {
                    opacity: 1;
                }
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
    &-content {
        min-height: 424px;
        position: relative;
    }
    &-more {
        position: absolute;
        bottom: 0;
        left: 0;
        a {
            display: inline-block;
            height: 30px;
            font-size: 1.4rem;
            line-height: 30px;
            text-transform: uppercase;
            color: $text;
            padding: 0 .7rem;
            border: 1px solid $text;
            text-decoration: none;
            @include effect-invert;
            &:hover {
                color: #fff;
                background-color: $text;
            }
        }
    }
}

.quickorder {
    width: 530px;
    max-width: 100%;
    &.popup-wrapper {
        padding: 0;
    }
    &-title {
        height: 40px;
        font: 2rem/40px 'Molot';
        color: #000;
        text-transform: uppercase;
        border-bottom: 3px solid #000;
        padding: 0 12px;
    }
    &-wrapper {
        position: relative;
        @include respond-to(mobile-portrait) {
            min-height: 390px;
        }
    }
    &-content {
        margin-left: 178px;
        border-left: 3px solid #000;
        padding: 1.5rem;
        @include respond-to(mobile-portrait) {
            height: 100%;
            border: none;
            margin-left: 0;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &-image {
        width: 178px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        background-size: contain;
        @include respond-to(mobile-portrait) {
            width: 125px;
            img {
                width: 125px;
                height: auto;
                border-right: 2px solid #000;
                border-bottom: 2px solid #000;
            }
        }
    }
    .product-title {
        font-size: 2rem;
        font-weight: bold;
        text-transform: uppercase;
        color: #000;
        @include respond-to(tablet-portrait) {
            text-align: left;
        }
        @include respond-to(mobile-portrait) {
            padding-left: 125px;
            font-size: 1.8rem;
        }
    }
    .product-price {
        margin-bottom: 2rem;
        & > span {
            display: inline-block;
            margin-right: 1rem;
            vertical-align: baseline;
        }
        &-actual {
            font-size: 2rem;
            font-weight: bold;
            color: #000;
        }
        .product-available, .qv-available {
            height: 20px;
            font-size: 1.2rem;
            line-height: 20px;
            text-transform: uppercase;
            padding: 0 .7rem;
            border: 1px solid $text;
        }
        @include respond-to(tablet-portrait) {
            text-align: left;
        }
        @include respond-to(mobile-portrait) {
            text-align: left;
            padding-left: 125px;
            font-size: 1.8rem;
            .price-old {
                font-size: 1.4rem;
                &-wrapper {
                    margin-top: 0;
                }
                .discount {
                    width: 43px;
                    height: 20px;
                    line-height: 20px;
                    background-size: cover;
                    right: -50px;
                    margin-top: -10px;
                    font-size: 1.4rem;
                    padding-left: 8px;

                }
            }
        }
    }
    form {
        margin-top: 5rem;
        .line {
            margin-bottom: 2rem;
        }
        input[type="text"], input[type="tel"] {
            width: 100%;
            font-size: 1.2rem;
            border: none;
            border-bottom: 1px solid #A5A5A5;
            background: none;
            outline: none;
            &.error {
                color: $red;
                text-transform: uppercase;
            }
        }
        button {
            @include add2cart;
        }
        @include respond-to(mobile-portrait) {
            width: 100%;
            margin-top: 0;
            position: absolute;
            left: 0;
            bottom: 0;
            padding: 0 15px 60px;
            input {
                font-size: 1.4rem;
                text-align: center;
            }
            button {
                display: block;
                width: 100%;
            }
        }
    }
}

.login {
    width: 690px;
    max-width: 100%;
    @include respond-to(mobile-landscape) {
        padding-top: 4rem;
    }
    .social-login {
        text-align: center;
        a {
            margin: 0 1rem;
        }
    }

    .or {
        font-size: 1.4rem;
        text-align: center;
        margin: 2rem 1rem;
    }

    .section {
        width: 50%;
        padding: .5rem 0;
        @include respond-to(mobile-landscape) {
            padding: 0;
        }
        &-wrapper {
            @include respond-to(mobile-landscape) {
                max-height: 0;
                overflow: hidden;
                &.open {
                    max-height: 500px;
                }
            }
        }
        &-title {
            font-size: 1.2rem;
            text-align: center;
            text-transform: uppercase;
            @include respond-to(mobile-landscape) {
                display: none;
            }
        }
        @include respond-to(mobile-landscape) {
            width: 100%;
        }
    }

    .forms {
        display: flex;
        @include respond-to(mobile-landscape) {
            display: block;
        }
    }

    .line {
        width: 40px;
        position: relative;
        &:after {
            content: '';
            width: 1px;
            height: 100%;
            background-color: $text;
            position: absolute;
            top: 0;
            left: 50%;
        }
        @include respond-to(mobile-landscape) {
            width: 100%;
            height: 1px;
            margin-bottom: 1rem;
            &:after {
                width: 60%;
                height: 1px;
                background-color: $text;
                position: absolute;
                top: 50%;
                left: 20%;
            }
        }
    }

    form {
        .wrapper {
            height: 36px;
            margin: 1rem 0;
            position: relative;
            @include respond-to(mobile-landscape) {
                font-size: 1.2rem;
                height: 48px;
            }
            &-columns {
                display: flex;
                align-content: stretch;
                @include respond-to(mobile-portrait) {
                    justify-content: space-between;
                    flex-wrap: wrap;
                }
                .wrapper {
                    flex-basis: 25%;
                    margin:0 0 0 1rem;
                    @include respond-to(mobile-portrait) {
                        flex-basis: 48%;
                        margin-left: 0;
                        margin-bottom: 1rem;
                    }
                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
            &.slim {
                height: 18px;
                @include respond-to(mobile-landscape) {
                    height: 24px;
                }
            }
            &.active {
                input[type="text"], input[type="email"], input[type="tel"], input[type="password"] {
                    padding-top: 12px;
                }
                .placeholder {
                    opacity: 1;
                }
            }
            &.valid {
                input[type="text"], input[type="email"], input[type="tel"], input[type="password"] {
                    border-color: $green;
                    color: $green;
                    padding-top: 12px;
                }
                .placeholder {
                    opacity: 1;
                }
            }
            &.invalid {
                input[type="text"], input[type="email"], input[type="tel"], input[type="password"] {
                    border-color: $red;
                    color: $red;
                }
                .error {
                    opacity: 1;
                }
            }
            a {
                font-size: 1.2rem;
                color: $text;
                text-decoration: none;
                border-bottom: 1px solid $text;
                &:hover {
                    color: #000;
                    border-color: #000;
                }
            }
        }
        label {
            font: 1.2rem 'robotolight';
            @include respond-to(mobile-landscape) {
                font-size: 1.6rem;
            }
        }
        input[type="text"], input[type="email"], input[type="tel"], input[type="password"] {
            width: 100%;
            height: 36px;
            padding: 0 1rem;
            font-size: 1.2rem;
            color: $text;
            border: 1px solid $text;
            outline: none;
            border-radius: 0;
            box-shadow: none;
            -webkit-appearance: none;
            position: absolute;
            top: 0;
            left: 0;
            transition: all .2s linear;
            @include respond-to(mobile-landscape) {
                font-size: 1.6rem;
                height: 48px;
            }
            &:focus {
                border: 2px solid #000;
                &::-webkit-input-placeholder {
                    opacity: 0;
                }
                &::-moz-placeholder {
                    opacity: 0;
                }
                &:-ms-input-placeholder {
                    opacity: 0;
                }
                &:-moz-placeholder {
                    opacity: 0;
                }
            }
        }

        .jq-checkbox {
            width: 18px;
            height: 18px;
            @include respond-to(mobile-landscape) {
                width: 24px;
                height: 24px;
                .jq-checkbox__div {
                    width: 22px;
                    height: 22px;
                    left: 5px;
                }
                &.checked {
                    .jq-checkbox__div {
                        top: -5px;
                        left: 5px;
                    }
                }
            }
            .jq-checkbox__div {
                width: 16px;
                height: 16px;
            }
            &.checked {
                overflow: visible !important;
                .jq-checkbox__div {
                    position: absolute;
                    bottom: 3px;
                    left: 3px;
                    background: transparent center no-repeat url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiCgkgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeG1sbnM6YT0iaHR0cDovL25zLmFkb2JlLmNvbS9BZG9iZVNWR1ZpZXdlckV4dGVuc2lvbnMvMy4wLyIKCSB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjIyLjNweCIgaGVpZ2h0PSIxNS40cHgiIHZpZXdCb3g9IjAgMCAyMi4zIDE1LjQiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDIyLjMgMTUuNDsiCgkgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6bm9uZTtzdHJva2U6IzAwMDAwMDtzdHJva2Utd2lkdGg6MjtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9Cjwvc3R5bGU+CjxkZWZzPgo8L2RlZnM+Cjxwb2x5bGluZSBjbGFzcz0ic3QwIiBwb2ludHM9IjAuNyw2LjQgOC4zLDE0IDIxLjYsMC43ICIvPgo8L3N2Zz4=);
                    background-size: cover;
                }
            }
        }

        .placeholder {
            font-size: 1rem;
            color: $light-gray;
            position: absolute;
            top: 2px;
            left: 12px;
            opacity: 0;
            transition: all .2s linear;
            @include respond-to(mobile-landscape) {
                font-size: 1.2rem;
            }
        }

        .error {
            font-size: 1rem;
            color: $red;
            position: absolute;
            top: 2px;
            right: 12px;
            opacity: 0;
            transition: all .2s linear;
            @include respond-to(mobile-landscape) {
                font-size: 1.2rem;
            }
        }
    }

    button {
        @include button();
        width: 100%;
        background-color: #fff;
        color: #000;
        border-color: #000;
        margin-top: 2rem;
        @include respond-to(mobile-landscape) {
            font-size: 1.6rem;
            margin-bottom: 1rem;
        }

        &.section-lock {
            display: none;
            margin-top: 0;
            margin-bottom: 1rem;
            @include respond-to(mobile-landscape) {
                display: block;
            }
        }
    }

    &.done {
        .fancybox-close {
            background: 0 0 no-repeat url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="18.1px" height="18.1px" viewBox="0 0 18.1 18.1" style="enable-background:new 0 0 18.1 18.1;" xml:space="preserve"> <style type="text/css"> .st0{fill:#FFFFFF;} </style> <defs> </defs> <polygon class="st0" points="18.1,2 16.1,0 9.1,7 2,0 0,2 7,9.1 0,16.1 2,18.1 9.1,11.1 16.1,18.1 18.1,16.1 11.1,9.1 "/> </svg>');
            background-size: cover;
            &:hover {
                background-image: url('data:image/svg+xml;utf-8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="15.6px" height="15.6px" viewBox="0 0 15.6 15.6" style="enable-background:new 0 0 15.6 15.6;" xml:space="preserve"> <style type="text/css"> .st0{fill:#D11825;} </style> <defs> </defs> <g> <rect x="-2.2" y="6.8" transform="matrix(0.7071 0.7071 -0.7071 0.7071 7.7782 -3.2218)" class="st0" width="20" height="2"/> <rect x="-2.2" y="6.8" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 18.7782 7.7782)" class="st0" width="20" height="2"/> </g> </svg>');
            }
        }
    }

    .fancybox-close {
        @include respond-to(mobile-landscape) {
            top: 1rem;
            left: 50%;
            margin-left: -8px;
        }
    }
}
